.QuestionTitle {
    background-color: #42408f;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 1px;
    width: 600px;
    height: 70px;
    font-size: 18px;
    position: relative;

}

.QuestionTitle p {
    width: 150px;
    position: absolute;
    top: 5px;
    left: 225px;
    text-align: center;
}

.QuestionTitle p:hover {
    cursor: pointer;
}

.DeleteButton {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0.3em 1em;
  color: #ff9c71;
  border: solid 2px #ff9c71;
  border-radius: 3px;
  transition: .4s;
}

.DeleteButton:hover {
  background: #ff9c71;
  color: white;
}