.HomeContent {
    width: 600px;
    height: 600px;
    margin: 15px auto;
    text-align: center;
}

.HomeContent a {
    color: white;
    font-family: 'Nico Moji';
}

.HomeContent a:hover {
    color: #42408f;
    transition: .4s;
}