.QuizeResults {
    width: 600px;
    height: 600px;
    margin: 15px auto;
    text-align: center;
}

.QuizeResults a {
    color: white;
}

.OtherQuizeLink:hover {
    cursor: pointer;
    color: #42408f;
    transition: .4s;
}