.PostQuestion {
    width: 600px;
    margin: 15px auto;
    text-align: center;
}

.FormInput {
    width: 250px;
    height: 25px;
    margin: 10px auto;
}

.FormButton {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #42408f;
  border: solid 2px #42408f;
  border-radius: 3px;
  transition: .4s;
}

.FormButton:hover {
  background: #42408f;
  color: white;
}